.aside{
  width: 296px;
  background-color: #F8F9FA;
}
.bg-gray-100 {
  background-color: $gray-100 ;
}
.gray-900 {
  color: $gray-900 ;
}
.gray-600 {
  color: $gray-600 ;
}
.gray-400 {
  color: $gray-400 ;
}
.active {
  border-left: 3px solid #198754; 
}